.summaryContainer{
    display:flex;
    width: 70vw;
    min-height: 90vh;
    margin-top: 25px;
    margin-left: 12vw;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 0;
    color: black;
}
.profile{
    margin-top: -30vw;
    margin-left: 26vw;
    height:20vw;
    width: 44vw;
    background-color: lightblue; 
}
.scoreSummary{
    position: relative;
}
.header-profile{
    position: absolute;
    margin-top: -0.5vw;
    margin-left: 120px;
    font-family: Poppins-Bold;
    font-size: 30px;
}