@font-face {
    font-family: 'Aldrich';
    src: url('./fonts/Aldrich-Regular.ttf') format('truetype'); /* Replace with the correct path to your Aldrich font file */
    font-weight: normal;
    font-style: normal;
  }

  .menu {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    left: 100px;

  }
  
  .menu::after {
    content: "";
    display: block;
    width: 80%;
    left: 1.5%;
    bottom: 0;
    height: 1px; /* Set the height of the line */
    background-color: #262460; /* Set the color of the line */
    position: absolute;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu-logo {
    position: absolute;
    margin-top: -25px;
    margin-left: -5vw;
    width: 7vw;
    height: 140px;
    text-decoration: none;
  }
  
  .menu-item {
    margin-right: 3vw;
    margin-top: 1vh;
    border-radius: 0.1vh;
    position: relative;
  }
  
  .menu-item a {
    display: inline-block;
    border-radius: 10px;
    transition: color 0.5s ease;
    color: #262460;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Aldrich';
  }
  
  .menu-item a:hover {
    background-color: #eeedea;
    color: #00026583;
  }
  

