@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype'); /* Replace with the correct path to your Aldrich font file */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype'); /* Replace with the correct path to your Aldrich font file */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype'); /* Replace with the correct path to your Aldrich font file */
    font-weight: normal;
    font-style: normal;
}
.FrontPage{
    text-align: center;
    height: 1300px;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  
  #light canvas {
    background-color: white;
  }

  .board {
    z-index: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  /* Top text in css */

  .WTC-global-1 {
    font-family: 'Poppins-Bold';
    color: black;
    text-shadow: 0px 0.25vw 0.1vw rgba(0, 0, 0, 0.5);
    font-size:4.16vw;
  }
  .WTC-local-1-1 {
    color: #011F5B;
  }
  .WTC-local-1-2{
    color: #990000;
  }
  .WTC-global-2{
    font-family: 'Poppins-Bold';
    color: black;
    text-shadow: 0px 0.25vw 0.1vw rgba(0, 0, 0, 0.5);
    font-size: 3.16vw;
  }
  .WTC-local-2-1{
    color: #990000;
  }

  .sponsors-text::before{
    content: "";
    display: block;
    width: 80vw;
    left: 9.1vw;
    bottom: 1;
    height: 0.093vh; /* Set the height of the line */
    background-color: #262460; /* Set the color of the line */
  }

  .sponsors-text{
    position: relative;
    left: -0.52vw;
    top: 5vh;
    font-family: 'Poppins-Bold';
    color: black;
    text-shadow: 0px 0.25vw 0.1vw rgba(0, 0, 0, 0.5);
    font-size: 3.16vw;
  }
  .subheader-1 {
    font-family: 'Poppins-Bold';
    color: #262460;
    font-size:1.75vw;
  }
  .subheader-2 {
    font-family: 'Poppins-Bold';
    color: #262460;
    font-size:1.75vw;
  }
  .summary-window {
    display: block;
    margin-bottom: 2.75vh;
    margin-right: auto;
    margin-left: 4rem;
    color: #262460;
    font-size: 1.75vw;
    position: relative;
    font-family: 'Poppins';
  }
  
  #quants-button,
  #prizes-button,
  #hours-button,
  #tasks-button {
    padding: 0px 5px;
    background-color: white;
    color: #262460;
    width: 8vw;
    border: 0.1vw solid #999;
    border-radius: 0.5vw;
    font-size: 1.75vw;
    margin-right: 1vw;
    font-family: 'Poppins';
  }
  
  #quants-button:hover,
  #prizes-button:hover,
  #hours-button:hover,
  #tasks-button:hover {
    background-color: rgb(246, 246, 246);
  }
/* TerminalWindow.css */

.terminal-window {
    width: 70vw;
    height: 450px;
    background-color: #2d2c41;
    border: solid #2d2c41;
    position: relative;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .terminal-header {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }
  .terminal-header-text {
    position: absolute;
    top: 8px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    font-size: 16px;
    font-family: 'Cascadia Code', monospace;
  }
  .button {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: solid #2d2c41;
    background-color: white;
    font-family: 'Poppins';
  }
  
 .button.close:hover {
    background-color: #990000;
    border: solid #990000;
  }
  
  .button.close:hover > .cross {
    color: white;
    cursor: default;
  }


  .button.maximize {
    position: relative;
  }
  
  .button.maximize::before {
    content: '';
    position: absolute;
    width: 8px; /* Adjust the size of the square */
    height: 8px; /* Adjust the size of the square */
    background-color: white; /* Adjust the color of the square */
    border: solid #2d2c41;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button.maximize:hover{
    background-color: #2d2c41;
  }
  .button.maximize:hover::before {
    background-color: #2d2c41; /* Change the color when hovering if needed */
    border: solid white;
  }
  
  .button.minimize{
    background-color: white;
  }
  .button.minimize:hover {
    background-color:#2d2c41 ;
  }
  .button.minimize:hover > .underline {
    color: white;
    cursor: default;
  }
  
  .terminal-content {
    padding: 16px;
    margin-top: 3vh;
    color: #d4d4d4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
  }
  
  .command-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .test{
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: #3498db; /* Set background color */
  }

  .cross {
    position: absolute;
    margin-top: 4px;
    margin-left: -5.3px;
    font-size: 14px;
    line-height: 14px;
    color: #2d2c41;
    pointer-events: none;
  }

  .underline {
    position: absolute;
    margin-top: -4px;
    margin-left: -6.5px;
    font-size: 16px;
    color: #2d2c41;
    pointer-events: none;
  }

  

  